@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Glacial';
    src: url('/fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
